USE [master]
GO
/****** Object:  Database [QuanLyPasswordDB]    Script Date: 5/20/2025 6:56:10 AM ******/
CREATE DATABASE [QuanLyPasswordDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyPasswordDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyPasswordDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyPasswordDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyPasswordDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyPasswordDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyPasswordDB]
GO
/****** Object:  Table [dbo].[RecoveryCodes]    Script Date: 5/20/2025 6:56:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecoveryCodes](
	[UserId] [int] NOT NULL,
	[CodeHash] [nvarchar](256) NOT NULL,
	[IsUsed] [bit] NOT NULL,
 CONSTRAINT [PK_RecoveryCodes] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[CodeHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccounts]    Script Date: 5/20/2025 6:56:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AccountType] [nvarchar](100) NOT NULL,
	[LoginUsername] [nvarchar](100) NOT NULL,
	[LoginPassword] [nvarchar](256) NOT NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/20/2025 6:56:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[IsMfaEnabled] [bit] NOT NULL,
	[MfaSecret] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[RecoveryCodes] ([UserId], [CodeHash], [IsUsed]) VALUES (2, N'Ju3HcSeicXnMmIUa8Gl3qaIasyVnmhCFydWMhrsu3G0=', 0)
INSERT [dbo].[RecoveryCodes] ([UserId], [CodeHash], [IsUsed]) VALUES (2, N'l7hsLVHPu8LUoycRbSHHIR3LH8CDIwkUSAiZrxYHOCE=', 0)
INSERT [dbo].[RecoveryCodes] ([UserId], [CodeHash], [IsUsed]) VALUES (2, N'lvZBGvsSxkkGu51MKoLADo32Q9B/r9yUSOq+3e/+V8I=', 0)
GO
SET IDENTITY_INSERT [dbo].[UserAccounts] ON 

INSERT [dbo].[UserAccounts] ([AccountId], [UserId], [AccountType], [LoginUsername], [LoginPassword], [Note], [CreatedAt]) VALUES (358, 2, N'Other', N'user9589', N'pass401124', N'', CAST(N'2025-03-26T12:35:14.000' AS DateTime))
INSERT [dbo].[UserAccounts] ([AccountId], [UserId], [AccountType], [LoginUsername], [LoginPassword], [Note], [CreatedAt]) VALUES (359, 1, N'Email', N'user5399', N'pass841022', N'', CAST(N'2025-05-17T12:35:14.000' AS DateTime))
INSERT [dbo].[UserAccounts] ([AccountId], [UserId], [AccountType], [LoginUsername], [LoginPassword], [Note], [CreatedAt]) VALUES (360, 5, N'LinkedIn', N'user6359', N'pass390566', N'', CAST(N'2025-04-05T12:35:14.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[UserAccounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [CreatedAt], [IsMfaEnabled], [MfaSecret]) VALUES (1, N'admin1', N'pmWkWSBCL51Bfkhn79xPuKBKHz//H6B+mY6G9/eieuM=', CAST(N'2025-05-19T04:21:10.533' AS DateTime), 1, N'DKMB6VIB4RNZGIVW')
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [CreatedAt], [IsMfaEnabled], [MfaSecret]) VALUES (2, N'admin2', N'pmWkWSBCL51Bfkhn79xPuKBKHz//H6B+mY6G9/eieuM=', CAST(N'2025-05-19T04:21:21.883' AS DateTime), 0, N'3KMQYC2CGOKXKS4U')
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [CreatedAt], [IsMfaEnabled], [MfaSecret]) VALUES (5, N'admin3', N'pmWkWSBCL51Bfkhn79xPuKBKHz//H6B+mY6G9/eieuM=', CAST(N'2025-05-19T12:17:07.940' AS DateTime), 0, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E454B1B1AF]    Script Date: 5/20/2025 6:56:10 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RecoveryCodes] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[UserAccounts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsMfaEnabled]
GO
ALTER TABLE [dbo].[RecoveryCodes]  WITH CHECK ADD  CONSTRAINT [FK_RecoveryCodes_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RecoveryCodes] CHECK CONSTRAINT [FK_RecoveryCodes_Users]
GO
ALTER TABLE [dbo].[UserAccounts]  WITH CHECK ADD  CONSTRAINT [FK_UserAccounts_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAccounts] CHECK CONSTRAINT [FK_UserAccounts_Users]
GO
USE [master]
GO
